---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.tsx'
import RoverImages from '../components/RoverImages/RoverImages.tsx';
---

<Layout>
	<Header/>
	<div class="pt-32">
		<RoverImages/>
	</div>
</Layout>
