---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header/Header.astro";
import RoverImages from '../components/RoverMission/RoverImages/RoverImages.astro';
---

<Layout>
	<Header/>
	<div class="pt-32">
		<RoverImages/>
	</div>
</Layout>
