---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.tsx'
import NasaImage from "../components/NasaImages/ShowNasaImages/NasaImage.astro";
---

<Layout>
	<Header/>
	<div class="pt-32">
		<NasaImage />
	</div>
</Layout>
