---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.tsx'
import PhotoDay from "../components/PhotoOfTheDay/PhotoOfTheDay/PhotoDay.astro";
---

<Layout>
	<Header/>
	<div class="pt-32">
		<PhotoDay client:load />
	</div>
</Layout>
