---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header/Header.astro";
import PhotoDay from "../components/PhotoOfTheDay/ShowPhotoOfTheDay/PhotoDay.astro";
---

<Layout>
	<Header/>
	<div class="pt-32">
		<PhotoDay />
	</div>
</Layout>
